<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div style="width:100%;">
  <div class="field" style="background-color:white;">
    <%= form.label :prompt %> (Maximum length: 80 characters):<br>
    <%= form.text_field :prompt, :maxlength => 80 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div></div>
<% end %>
